body {
    color: black;
    font-family: 'Roboto', sans-serif;
    background-image: url('images/ep_naturalblack.png');
}

#logoDiv {
    background-color: black;
    background-image: url(images/ep_naturalblack.png);
    text-align: center;
    padding: 2%;
    margin: 2%;
}

#searchDiv {
    background-color: black;
    background-image: url(images/ep_naturalblack.png);
    padding: 2%;
    margin: 2%;
}

#searchDiv h4 {
    color: #E3E3E3;
}

#dynamicContent {
    padding: 2%;
    margin: 2%;
    color: #E3E3E3;
}

footer {
    text-align: center;
    padding: 2%;
    margin: 2%;
    color: #E3E3E3;
}